[submodule "personal_projects/business/music-player"]
	path = personal_projects/business/music-player
	url = git@github.com:ChristopherJ1987/music-player.git
[submodule "client_projects/novel-eshelf"]
	path = client_projects/novel-eshelf
	url = git@github.com:ChristopherJ1987/beyond-binary-novel-eshelf.git
[submodule "personal_projects/business/beyond-binary-client"]
	path = personal_projects/business/beyond-binary-client
	url = git@github.com:ChristopherJ1987/beyond-binary-client.git
[submodule "community_work/beasty-base/beasty-base-backend"]
	path = community_work/beasty-base/beasty-base-backend
	url = git@github.com:ChristopherJ1987/beasty-base-backend.git
